<% in_effects = ["bounceIn",
      "bounceInDown",
      "bounceInLeft",
      "bounceInRight",
      "bounceInUp",
      "bounce",
      "flash",
      "pulse",
      "rubberBand",
      "shake",
      "swing",
      "tada",
      "wobble",
      "flip",
      "hinge",
      "rollIn",
      "flipInX",
      "flipInY",
      "fadeIn",
      "fadeInDown",
      "fadeInDownBig",
      "fadeInLeft",
      "fadeInLeftBig",
      "fadeInRight",
      "fadeInRightBig",
      "fadeInUp",
      "fadeInUpBig",
      "rotateIn",
      "rotateInDownLeft",
      "rotateInDownRight",
      "rotateInUpLeft",
      "rotateInUpRight",
      "lightSpeedIn"] %>

<% out_effects = ["bounceOut",
"bounceOutDown",
"bounceOutLeft",
"bounceOutRight",
"bounceOutUp",
"fadeOut",
"fadeOutDown",
"fadeOutDownBig",
"fadeOutLeft",
"fadeOutLeftBig",
"fadeOutRight",
"fadeOutRightBig",
"fadeOutUp",
"fadeOutUpBig",
"flipOutX",
"flipOutY",
"lightSpeedOut",
"rotateOut",
"rotateOutDownLeft",
"rotateOutDownRight",
"rotateOutUpLeft",
"rotateOutUpRight",
"rollOut",
"bounce",
"flash",
"pulse",
"rubberBand",
"shake",
"swing",
"tada",
"wobble",
"flip",
"hinge"] %>

<div class="button-groups">
  <% in_effects.each do |in_effect| %>
    <%= out_effects.each do |out_effect| %>
      <%= link_to "#{in_effect} + #{out_effect}" , root_path({i: in_effect , o: out_effect}) , class: "btn btn-info" %>
    <% end %>
  <% end %>
</div>